.statContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  text-align: center;
  width: 100%;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
  @media screen and (min-width: 1280px) {
  }
}
.itemList {
  @media screen and (min-width: 768px) {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  @media screen and (min-width: 1280px) {
  }
}
