.statContainer {
  margin-left: 20px;
  padding-top: 20px;
  /* width: 100%; */
  min-width: 950px;
}
.itemList {
  /* margin-left: 20px;
  width: 950px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding-bottom: 1rem; */

  @media screen and (min-width: 768px) {
    /* margin-left: 30px; */
  }
  @media screen and (min-width: 1280px) {
  }
}
