.container {
  margin: 0 auto;
  @media (min-width: 768px) {
    width: 600px;
  }
  @media (min-width: 1280px) {
    width: 720px;
  }
}

.userInfo {
  display: block;
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 1280px) {
  }
}

.title {
  text-align: center;
  margin-bottom: 16px;
}

.userPhoto {
  width: 200px;
  height: auto;
  background-color: rgba(72, 70, 70, 0.5);
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(145, 151, 179, 0.5);
  @media (min-width: 768px) {
    margin: 0;
  }
}

.userImage {
  /* Стили для изображения */
}

.userInfoContainer {
  /* Стили для информации о пользователе */
  margin-top: 16px;
  @media (min-width: 768px) {
    margin: 0;
    /* margin-left: 16px; */
  }
}

.userInfoText {
  margin-bottom: 8px;
}

.userButton {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  @media (min-width: 768px) {
    margin: 0;
    /* margin-left: 16px; */
  }
}

.Button {
  width: 200px;
  background-color: #9197b3;

  border-radius: 10px;
  font-size: 10px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  @media (min-width: 768px) {
    width: 90px;
    height: 20px;
  }
}
