.profileContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
  width: 100%;
  @media screen and (min-width: 768px) {
    margin-left: 16px;
    justify-content: flex-start;
    align-items: center;
  }
  @media screen and (min-width: 1280px) {
  }
}
.profile {
  width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row;
  }
}
.imageWrapper {
  /* width: 100%;
  height: 300px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; */
  cursor: pointer;
  position: relative;
  width: 100%; /* Ширина изображения будет занимать 100% от своего контейнера */
  height: 200px; /*Высота изображения фиксирована*/
  margin-bottom: 10px;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    width: 250px;
    height: 300px;
  }
  @media screen and (min-width: 1280px) {
  }
}

.profileInfo {
  gap: 30px;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 10px;
    gap: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 50px;
  }
}
.profileInfoList {
  display: flex;
  flex-direction: column;
}
.profileInfoItem {
  display: flex;
  list-style: none;
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--text-color-captions, #a7aed2);
  align-items: center;
  color: #a7aed2;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 16px */
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    width: 188px;
  }
  @media screen and (min-width: 1280px) {
    width: 288px;
  }
}
.profileInfoItemText {
  margin-left: 16px;
}
.buttonUpdateProfile {
  margin-top: 23px;
  width: 188px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1.5px solid var(--main-color-green, #46c578);
  background: #fff;
  color: #46c578;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  @media screen and (min-width: 768px) {
    width: 188px;
  }
  @media screen and (min-width: 1280px) {
    width: 288px;
  }
}

.buttonUpdateProfile:hover {
  background: #46c578;
  color: #fff;
}
