.settingsForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.imageButton {
  width: 128px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1.5px solid #46c578;
  background: #46c578;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.imageButton:hover {
  background: #248a4c;
}
.imageButton:active {
  background: #095527;
}
.hiddenInput {
  display: none;
}

.imageWrapper {
  width: 150px;
  height: 200px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Выравнивание по горизонтали */
  align-items: center; /* Выравнивание по вертикали */
}
