.settingsForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.settingsForm input,
.settingsForm button {
  padding: 0.5rem;
}

.settingsForm button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.settingsForm button:hover {
  background-color: #555;
}
.imageContainer {
  /* display: flex; */
}
.imageWrapper {
  width: 150px;
  height: 200px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Выравнивание по горизонтали */
  align-items: center; /* Выравнивание по вертикали */
}
