.title {
  text-align: center;
  margin-bottom: 10px;
}
.exchangeList {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #f4f5fa;
  box-shadow: 2px 3px 10px 1px rgba(4, 4, 4, 0.207);
}
.exchangeList:hover {
  background-color: #f4f5fa;
}
.imgClass {
  border-radius: 10px;
}
