.header {
  --tw-bg-opacity: 1;
  background-color: rgb(71 85 105 / var(--tw-bg-opacity));
  width: 100%;
}
.container {
  display: flex;
  width: 100%;
  @media (min-width: 768px) {
  }
  @media (min-width: 1280px) {
  }
}
.nav {
  /*  */
  display: flex;
  width: 100%;
}
.ul {
  /*  */
  display: flex;
  width: 100%;
  justify-content: space-around;
}
