.itemList {
  /* margin-left: 20px; */
  /* width: 950px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding-bottom: 1rem;
  @media screen and (min-width: 768px) {
    /* margin-left: 30px; */
  }
  @media screen and (min-width: 1280px) {
  }
}

.itemCard {
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0px 0px 10px 2px rgba(49, 97, 255, 0.104);
  text-align: center;
  position: relative;
  transition: box-shadow 0.3s, color 0.3s;
  @media screen and (min-width: 768px) {
    max-width: 185px;
    max-height: 290px;
  }
  @media screen and (min-width: 1280px) {
  }
}
.itemCard:hover {
  box-shadow: 0px 0px 10px 2px rgba(2, 3, 4, 0.17);
}
.favoritesIcon {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(7, 7, 33, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.favoritesIcon svg {
  fill: #070721; /* Задайте желаемый цвет иконки здесь */
  cursor: pointer;
}
.favoritesIconActive {
  fill: rgb(255, 0, 0);
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(7, 7, 33, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.favoritesIconActive svg {
  fill: rgb(255, 0, 0);
  cursor: pointer;
}

.favoritesIcon:hover,
.favoritesIcon svg:hover {
  fill: rgb(255, 0, 0);
}
.cardTitle {
  white-space: nowrap; /* Запретить перенос слов на новую строку */
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.imageWrapper {
  cursor: pointer;
}
.ownerInfo {
  display: flex;
  align-items: center;
  border-top: 1px solid #8e8c9938;
  padding-top: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.linkWrapper {
  display: flex;
  align-items: center;
}
.ownerImage {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  object-fit: cover;
}
.ownerNameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}
.ownerName {
  font-size: 18px;
  line-height: 20px;
  color: #383838;
}
.views {
  display: flex;
  font-size: 18px;
  line-height: 20px;
  color: #8e8c99;
  justify-content: center;
  align-items: center;
}
.viewsIcon {
  font-size: 22px;
  line-height: 20px;
  color: #a7aed2;
  margin-right: 5px;
}
.views {
  display: flex;
  font-size: 18px;
  line-height: 20px;
  color: #3e3d42;
  justify-content: center;
}

.footerCard {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.button {
  width: 60px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1.5px solid #46c578;
  background: #46c578;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  padding: 1px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background: #248a4c;
}
.button:active {
  background: #095527;
}
