.layout {
  display: flex;
  flex-direction: column;
  width: 360px;
  min-height: 100vh;

  @media screen and (min-width: 768px) {
    width: 680px;
  }
  @media screen and (min-width: 1280px) {
    width: 1176px;
  }
}

.content {
  flex: 1;
}

.header {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
  }
  @media screen and (min-width: 1280px) {
  }
}
.logo {
  color: #46c578;
}
.logoSpan {
  color: rgb(103, 103, 103);

  font-size: 30px;
  margin-left: -10px;
}

.nav {
  margin-right: 0;
  display: flex;
}

.ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #46c578;
}

.link:hover {
  transform: translateX(0.1em) translateY(0.1em);
  color: #676767;
}

.activeLink {
  color: #676767;
  position: relative;
}

.li {
  display: flex;
  outline: none;
  transition: 0.1s ease-in-out, 0.4s color;
  margin-left: 16px;
}

.li:hover {
  transform: translateX(0.1em) translateY(0.1em);
}

.li:active {
  transform: translateX(0.1em) translateY(0.1em);
}

.footer {
  margin-top: 20px;
  height: 40px;
  border-top: 2px solid #67676723;
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
}

.userLink {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}
.userHeader {
  display: flex;
}

.userIcon {
  text-align: right;
}
.imageWrapper {
  width: 48px;
  height: 48px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Выравнивание по горизонтали */
  align-items: center; /* Выравнивание по вертикали */
}
.photoUser {
  margin-left: 10px;
}

.mobileHeader {
  width: 100%;
  /* background-color: rgb(224, 223, 223);
  position: fixed;
  bottom: 0;
  z-index: 2;
  left: -7px;
  height: 60px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  --key-text-color: #969faf;
  --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff,
    0 1px 2px 1px rgba(30, 35, 90, 0.4);
  --docsearch-key-gradient: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
  border: none;
  background: var(--docsearch-key-gradient);
  border-radius: 10px;
  box-shadow: var(--docsearch-key-shadow);
  color: var(--key-text-color);
  height: 2.5em;
  text-align: center;
  padding: 0.6em;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  min-width: 1em;
  line-height: 1em;
  user-select: none; */
  background: #fff;
  box-shadow: 0px -1.5683629512786865px 16.643320083618164px 0px rgba(0, 0, 0, 0.05),
    0px -5.050702095031738px 49.033172607421875px 0px rgba(0, 0, 0, 0.03),
    0px -12.891139030456543px 132.8775177001953px 0px rgba(0, 0, 0, 0.03),
    0px -27px 355px 0px rgba(0, 0, 0, 0.02);
  bottom: 0;
  z-index: 2;
  position: fixed;
  display: inline-block;
  left: 0px;
  text-align: center;
  padding-top: 10px;
  height: 60px;
  flex-shrink: 0;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
  }
}
.mobileHeaderLinkList {
  display: flex;
  justify-content: space-around;
}
.mobileHeaderLinkItem {
  font-size: 25px;
}
.linkMobile {
  text-decoration: none;
  color: #969faf;
}
.activeLinkMobile {
  color: #46c578;
  position: relative;
}
