/* styles/global.css */

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.nav {
  margin-right: 0;
}

.ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #27dfad;
}

.link:hover {
  transform: translateX(0.1em) translateY(0.1em);
  color: #676767;
}

.activeLink {
  color: #676767;
  position: relative;
}

.activeLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #676767;
}

.li {
  outline: none;
  transition: 0.1s ease-in-out, 0.4s color;
  margin-left: 16px;
}

.li:hover {
  transform: translateX(0.1em) translateY(0.1em);
}

.li:active {
  transform: translateX(0.1em) translateY(0.1em);
}

.footer {
  margin-top: 20px;
  height: 40px;
  border-top: 2px solid #67676723;

  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
}

.userLink {
  text-decoration: none;
  color: black;
}
.userHeader {
  display: flex;
}

.userIcon {
  text-align: right;
}
.photoUser {
  margin-left: 10px;
}
