.modal {
  border: 2px dashed #daa06d;
  border-radius: 15px;
  background-color: #eaddca;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 500px;
  margin: 100px auto;
  padding: 20px;
  position: relative;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.userInfoText {
  border-bottom: 2px dashed #daa06d;
}
