.form {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  max-width: 450px; /* Максимальная ширина формы */
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Добавляем медиазапрос для адаптивности на более узких экранах */
@media screen and (max-width: 480px) {
  .form {
    width: 100%; /* На узких экранах форма займет всю доступную ширину */
  }
}

.form button {
  align-self: flex-end;
}

.flexColumn > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #a7aed2;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border: none;
  width: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flexRow > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
.span:hover {
  text-decoration: underline royalblue;
}

.buttonSubmit {
  margin: 20px 0 10px 0;
  border-radius: 16px;
  background-color: transparent;
  border: 2px solid rgb(49, 98, 255);
  color: #3162ff;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.buttonSubmit:hover {
  background-color: #3162ff;
  color: #ffffff;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}
