.accountContainer {
  display: flex;
  width: fit-content;
}
.buttonContainer {
  width: 100px;
  height: 100vh;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 2px rgba(49, 97, 255, 0.104);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  @media screen and (min-width: 768px) {
    width: 150px;
  }
  @media screen and (min-width: 1280px) {
    width: 200px;
  }
}

.button {
  width: 60px;
  height: 38px;
  margin-bottom: 4px;
  margin-left: 5px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: rgba(47, 43, 61, 0.68);
  transition: background-color 0.25s ease-in, color 0.25s ease-in;
  position: relative;
  border-bottom-left-radius: 6.4px;
  border-bottom-right-radius: 6.4px;
  border-top-left-radius: 6.4px;
  border-top-right-radius: 6.4px;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    width: 100px;

    font-size: 14px;
    line-height: 20px;
  }
  @media screen and (min-width: 1280px) {
    width: 170px;
  }
}

.button:hover {
  background-color: #f5f5f5;
}

.activeButton {
  background-image: linear-gradient(
    72.47deg,
    rgb(115, 103, 240) 22.16%,
    rgba(115, 103, 240, 0.7) 76.47%
  );
  box-shadow: rgba(115, 103, 240, 0.48) 0px 2px 6px 0px;
  color: rgb(255, 255, 255);
}

.buttonCreate {
  width: 60px;
  height: 38px;
  margin-bottom: 4px;
  margin-left: 5px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: rgba(206, 21, 21, 0.68);
  transition: background-color 0.25s ease-in, color 0.25s ease-in;
  position: relative;
  border-bottom-left-radius: 6.4px;
  border-bottom-right-radius: 6.4px;
  border-top-left-radius: 6.4px;
  border-top-right-radius: 6.4px;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    width: 100px;

    font-size: 14px;
    line-height: 20px;
  }
  @media screen and (min-width: 1280px) {
    width: 170px;
  }
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: -16px;
  right: -5px;
  font-size: 10px;
  margin-left: 0.75rem;
  border-radius: 50%;
  margin: 0px;
  background-color: rgba(255, 0, 0, 0.515);
  transition: 0.15s ease-in;
}
.logOutButton {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  color: rgba(47, 43, 61, 0.68);
  transition: 0.2s ease-in;
}

.logOutButton:hover {
  color: red;
}
