.searchContainer {
  margin-top: 36px;
  display: flex;
  margin-bottom: 36px;
  justify-content: space-between;
}

.searchForm {
  display: flex;
  justify-content: center;
  position: relative;
}
@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
  .searchForm {
    transform: scale(0.6);
  }
}

.search {
  width: 288px;
  height: 52px;
  background: #ffffff;
  border: none;
  box-shadow: 5px 6px 19px rgba(62, 72, 118, 0.04);
  border-radius: 20px;
  padding-left: 56px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #989ba5;
}
.searchButton {
  border: none;
  background: transparent;
  position: absolute;
  padding: 0;
  left: 20px;
  top: 15px;
}

.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 5px 6px 19px rgba(62, 72, 118, 0.04);
  padding: 0.75rem;
  border-radius: 20px;
}

.tabs * {
  z-index: 2;
}

.container input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 50px;
  font-size: 0.85rem;
  /* font-size: 16px; */
  color: #989ba5;
  /* font-weight: 500; */

  font-weight: 400;
  border-radius: 20px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  top: 10px;
  left: 30%;
  font-size: 10px;
  margin-left: 0.75rem;
  border-radius: 50%;
  margin: 0px;
  background-color: #e6eef9;
  transition: 0.15s ease-in;
}

.container input[type="radio"]:checked + label {
  color: #185ee0;
}

.container input[type="radio"]:checked + label > .notification {
  background-color: #185ee0;
  color: #fff;
  margin: 0px;
}

.container input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
}

.container input[id="radio-2"]:checked ~ .glider {
  transform: translateX(100%);
}

.container input[id="radio-3"]:checked ~ .glider {
  transform: translateX(200%);
}

.glider {
  position: absolute;
  display: flex;
  height: 30px;
  width: 50px;
  background-color: #e6eef9;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
}
