.searchContainer {
  margin-top: 36px;
  display: flex;
  margin-bottom: 36px;
  justify-content: space-between;
}

.searchForm {
  display: flex;
  justify-content: center;
  position: relative;
}
@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
  .searchForm {
    transform: scale(0.6);
  }
}

.search {
  width: 288px;
  height: 52px;
  background: #ffffff;
  border: none;
  box-shadow: 0px 0px 10px 2px rgba(49, 97, 255, 0.104);

  border-radius: 20px;
  padding-left: 56px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #989ba5;
}
.searchButton {
  border: none;
  background: transparent;
  position: absolute;
  padding: 0;
  left: 20px;
  top: 15px;
}

.linkAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 128px;
  height: 10px;
  border-radius: 10px;
  border: 1.5px solid #46c578;
  background: #fff;
  color: #46c578;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1rem;
  box-shadow: 0px 0px 10px 2px rgba(49, 97, 255, 0.104);
}
.linkAdd:hover {
  background: #46c578;
  color: #fff;
}

.linkAdd:active {
  background: #095527;
}
.clearSearchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: red;
  font-size: 16px;
  margin-left: -40px;
  cursor: pointer;
  width: 36px;
}
